page-settings {
    .profilebutton {
        z-index: 2;
        position: absolute;
        left: 22%;
        top: 8%;
        margin: auto;
    }
    .profilepic {
        border:1px solid #000;
        width: 65%;
        height: 65%;
    }
    .profilepic-border {
        position: relative;
        // background: #a3a3a3;
    }
}
